  <div class='mainAdminPage text-center' ng-app="marsList" ng-controller="MainCtrl">
    <h1 class='ah1'> Admin Page </h1>
      <div class='databaseFolder col-sm-12'>
        <h2 class='ah1'> Search Database: </h2>
        <input type="text" class="form-control dataSearchIn" id="databaseSearch" placeholder="Search Data" ng-model="aSearch">
        <button type="submit" class="btn btn-default" ng-click="searchDB()">Search</button>
          <div class="databaseLog">
                <table class="table text-left">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Email</th>
                      <th>Company</th>
                      <th>Subject</th>
                      <th>Text</th>
                      <th>Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="data in dataBase | filter:aSearch">
                      <th scope="row"></th>
                      <td>{{data.email}}</td>
                      <td>{{data.last}}</td>
                      <td>{{data.first}}</td>
                      <td>{{data.password}}</td>
                      <td>{{data.weight}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>

      </div>

  </div>

 
            <!-- <div class="dataLog col-sm-3" ng-repeat="data in dataBase | filter:aSearch">
              <h3> Contact Information </h3>
              <p> Email: {{data.email}} </p>
              <p> Company: {{data.company}} </p>
              <p> Subject: {{data.subject}} </p>
              <p> Text: {{data.text}} </p>
 
            </div> -->