<div class='dashMaster text-center'>
        <nav class="mainNav navbar navbar-inverse navbar-fixed-top">
          <div class="container navLetter">
            <a class='' ng-click='gotoDash()'> Dashboard </a>
            <a class='' ng-click='gotoStats()'> Stats </a>
            <!-- <a class='' ng-click='gotoWorkout()'> Workout </a> -->
            <p class="navbar-text navbar-right">Signed in as {{dataBase[1].nick}}</p>
          </div>
        </nav>

      <div class='dashMain margin60'>

        <div>
          <h1> PushMeUp Dashbaord </h1>
        </div>

        <div class='overView'>
          <h2> This Week: </h2>
                <!-- <button type="submit" class="btn btn-default" ng-click="searchDB()">Search</button> -->

          <div class='overViewer'>

              <div class='dash1 col-md-4'>
                <h2> Top This Week</h2>
                <div class='topUsers boxBox' ng-repeat='user in dataBase | orderBy:"-pushUp" | limitTo : 3'>
                  <h4> <img src='https://maxcdn.icons8.com/Share/icon/Sports//trophy1600.png' style='width:50px;height:50px;'>
                    {{user.nick}}, With {{user.pushUp}} Reps! </h4>
                </div>
                  <h3 class='handiCap'> Weekly Handicap </h3>
                  <h4> Albert Pushups <h4 class='handiCap'> -30% </h4> </h4>
                  <h4> Javascripter Pushups <h4 class='handiCap'> -20% </h4> </h4>
                  <h4> Cannon Pushups <h4 class='handiCap'> -10% </h4> </h4>
              </div>
              <div class='dash1 col-md-4'>
                <h2> My Stats </h2>
                 
                  <div class='userStats boxBox'>
                    
                    <h3> {{dataBase[1].nick}} </h3>
                    <h4> Current Rank: {{Rank}} </h4>
                    <h4> Last Week's Rank: 3 </h4>
                    <h3> Weekly PushUps: {{dataBase[1].pushUp}} </h3>

                    <br>
                    <br>

                    <div>
                     <h2 class='weekPrize'> Weekly Prize </h2>
                     <h4 class="timerCountDown"> {{DaysLeft}} </h4>
                     <h3> 1st Place: Free Lunch </h3>
                    </div>
                  </div>
              </div>
              <div class='dash1 col-md-4'>
                <h2> PushMeUp! </h2>
                  <div class='addReps boxBox'>
                    <h3> How Many Push-Ups Did you do? </h3>
                    <!-- <input type="text" class="form-control" id="addReps" placeholder="" ng-model='puAdder' required> -->
                    <button type="submit" class="btn btn-warning" ng-click="updatePushUps10()">Pushed 10</button>
                    <button type="submit" class="btn btn-primary" ng-click="updatePushUps1()">1 Pushup</button>
                    <h3> <button type="submit" class="btn btn-default" ng-click="adminLogClick()">Admin Menu</button> </h3>
                    <div ng-show='admin123'>
                    <button type="submit" class="btn btn-success" ng-click="updatePushUpsJava()">JavaPushed</button>
                    <button type="submit" class="btn btn-danger" ng-click="updatePushUpsAlbert()">AlbertPushed</button>
                    </div>
                  </div>
              </div>
    
          </div>
        </div>
      </div>

</div>