<div class="adminLogin">
      <h2 class="col-sm-12" ng-click="adminLogClick()"> Admin Login </h2>
      <div class="form-group">
        <div class="col-sm-12" ng-show="admin123">
          <input class="col-sm-offset-4 col-sm-2" type="text" class="form-control" id="adminid" placeholder="enter ID" ng-model="adminid" required>
          <input class="col-sm-2" type="password" class="form-control" id="adminpass" placeholder="enter Password" ng-model="adminpass" required> 
          <button class="col-sm-1" type="submit" class="btn btn-default logbtn" ng-click="adminLog()">login</button>
        </div>
      </div>
    </div>