  <div class='registerTitle col-sm-offset-1 col-md-11'>
    <h1> Register, Get started Now! </h1>
  </div>

<div class='mainForm'>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 registerForm">
          <label for="name">First Name:</label>
          <input type="text" class="form-control" id="inputName" placeholder="First Name" ng-model="firstName" required>
          <label for="last">Nickame(username):</label>
          <input type="text" class="form-control" id="inputLast" placeholder="Nickname(Username)" ng-model="nick" required>
          <!-- <label for="usr">Email:</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model='email' required> -->
          <label for="password">Choose a Password:</label>
          <input type="text" class="form-control" id="inputPassword" placeholder="Choose a Password" ng-model="userPassword" required>
          <!-- <label for="weight">Weight (in kg):</label>
          <input type="text" class="form-control" id="inputWeight" placeholder="weight in kg" ng-model="userWeight" required> -->
          <button type="submit" class="btn btn-primary col-xs-offset-4 col-xs-3" ng-click="registerForm()">Register</button>
        </div>
      </div>
  </div>