  .marsBanner a img {
    width:100%;
    max-width: 350px;
    height: 85px;
    margin-bottom: 15px;
  } 

  body {
    background-image: url('http://mars-cdn.mmg.netdna-cdn.com/images/big_bg.jpg');
    background-size: 100%;
  }
  .meetText {
    margin-bottom: 15px;
  }

  .logbtn {
    margin-right: 40px;
  }

  .adminLogin {
    /*float: left;
    margin-top: -550px;
*/  }

  .form-control {
    margin-top: 10px;
  }

  .btn {
    margin-top: 10px;
  }

  h1 {
    font-family: cursive;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  h2{
    font-family: cursive;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 15px orange, 0 0 3px red;
  }

  .marsParty a img {
    margin-bottom: 15px;
    width: 100%;
  }
  .marsParty {
    padding-right: 0px;
    padding-left: 0px;
  }
  .partyI img {
    height: 100px;
    width: 100%;
  }

  .mainForm {
   /* border-style: solid;
    border-width: 3px;*/
  }